<h1>Task List</h1>

<!-- Add New Task Form -->
<%= form_with(model: Task.new, url: tasks_path, method: :post, remote: true, html: { id: "new-task-form" }) do |f| %>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, required: true %>
  </div>

  <div>
    <%= f.submit "Add Task" %>
  </div>
<% end %>

<!-- Task List -->
<ul id="task-list">
  <%= render @tasks %>
</ul>
