<% content_for :title, @task.title %>

<h1><%= @task.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Check:</strong>
  <%= @task.check ? "Completed" : "Pending" %>
</p>

<%= link_to "Edit", edit_task_path(@task) %> |
<%= link_to "Back to tasks", tasks_path %> |
<%= link_to "Delete", @task, method: :delete, data: { confirm: "Are you sure?" } %>
